
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
section{
    background-color: #F5f5f5;
    animation: animSection .5s ease-in-out;
}



.pro-opp-span{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    
}



p{
    font-size: 55px;
   
    font-family: 'Signika Negative', sans-serif;}

.login-btn{
    color: #FFFFFF;
    padding: .5rem 2rem;
    font-weight: 500; /* Red with 85% opacity */

}

.login-btn:hover{
    background-color: transparent;
    color: #000;
    border: 1px solid #0d6efd
}

.signup-btn{
    background-color: #000;
    color: #ffffff;
    padding: 1.3rem 8rem;
    font-weight: 700;
    transition: .2s ease-in-out;

}

.signup-btn.bgCol{
    background-color: #000;
    color: #FFFFFF;
}
.signup-btn:hover{
    border: 1px solid #000;
}

.signup-btn:f{
    background-color: #000;
}


@media(max-width: 768px){
    .signup-btn-container{
        width: fit-content;
        margin-inline: auto
    }
}
@media (max-width: 512px) {
    
    .signup-btn{
        padding: 1rem 4rem;
        margin: auto;
    }


    
}


@keyframes animSection {
    from{opacity: 0;}to{opacity: 1;}
    
}




.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}


.about {
    background-color: #9e9b9b; 
    padding: 100px 0;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2a2a2b; 
}

.about h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333; 
}

.about img {
    max-width: 79%;
}

.btn-dark {
    background-color: #0c0c0c;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.how-it-works h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}


.how-it-works .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px; 
    width: 370px; 
    border-radius: 20px; 
    color: #333; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(35, 4, 117, 0.1); 
}
.how-it-works .card:nth-child(2){
    color: red;
}

.how-it-works .card .step-circle {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: #3fd0f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 18px;
}
.how-it-works .card .card-body {
    flex-grow: 2; 
    padding: 30px;
}

.how-it-works .card h3 {
    margin-top: 10px;
    font-size: 1.2em; 
    font-weight: bold;
}

.how-it-works .card p {
    margin-bottom: 25px; 
    font-size: 1.2em;
    line-height: 1.7;
}

.how-it-works .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(9, 26, 179, 0.2); 
}
/*

button {
    --green: #31b9db;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(73, 75, 201, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  
  button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(96, 189, 218, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  button:hover:before {
    transform: translateX(15em);
  }

  */