<section class="">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex">
            <!-- JobPortal title -->
            <a class="navbar-brand" href="#">JobPortal</a>

            <!-- Centered navigation links -->
            <div class=" mx-auto d-flex" [@fadeIn]>
                <a class="nav-link fw-bold mx-4 a-navbar-item" href="#">home</a>
                <a class="nav-link mx-4 a-navbar-item" href="#about-us">about us</a>
                <a class="nav-link mx-4 a-navbar-item" href="#how-it-works">how it works</a>
            </div>

            <!-- Button on the right -->
            <button class="btn btn-primary login-btn" type="button" (click)="login()">Log in</button>
        </div>
    </nav>

 






    <div class="row container-md mx-auto  my-5 py-5 d-flex align-items-center">
        <div class="col-md-7">
            <p class="h1 text-center simplify-your-carrer-text">
                Simplify your career journey with Our <span style="color: #D24545;">JobPortal</span>
                Website.<span class="pro-opp-span text-primary">Professional opportunities</span>, effortlessly found
            </p>



        </div>
        <div class="col-md-5">
            <img src="/assets/IMG.jpg" class="img-fluid" style="border-radius: 10px;" />
        </div>


        <div class="col-md-9 mt-5 mx-auto signup-btn-container">
            <button class="btn signup-btn" (click)="signUp()">Get started</button>
        </div>

    </div>




    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#6C757D" fill-opacity="1"
            d="M0,96L26.7,85.3C53.3,75,107,53,160,37.3C213.3,21,267,11,320,21.3C373.3,32,427,64,480,101.3C533.3,139,587,181,640,181.3C693.3,181,747,139,800,106.7C853.3,75,907,53,960,48C1013.3,43,1067,53,1120,90.7C1173.3,128,1227,192,1280,208C1333.3,224,1387,192,1413,176L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
        </path>
    </svg>
</section>

<section class="about bg-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="essets/img2.png" alt="" class="img-fluid mb-4">
          <img src="assets/img3.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2 class="text-center mb-4">Crafting Careers,Inspiring Journeys</h2>
          <p class="text-center mb-5">About us</p>
          <div>
            <p class="lead">Welcome to JobPortal.com. Our mission is to make your career dreams a reality. We
              understand that finding the perfect job is a journey that aligns with your unique skills and ambitions.
            </p>
            <p class="lead">Join us in simplifying the job search process and connecting you with opportunities that
              match your expertise. Let's build your career dreams together!</p>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-it-works py-5">
    <div class="container">
      <h2 class="text-center mb-4">Easy to Use, Easy to Apply</h2>
      <p class="text-center mb-5">How It Works</p>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card red">
            <div class="step-circle">1</div>
            <div class="card-body text-center">
              <h3 class="card-title mb-4">Sign in for JobPortal</h3>
              <p class="card-text">Create an account or sign in to your existing JobPortal account to access all
                features.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card blue">
            <div class="step-circle">2</div>
            <div class="card-body text-center">
              <h3 class="card-title mb-4">Find a Job Match Your Skills</h3>
              <p class="card-text">Explore job listings tailored to your skills, experience, and preferences.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card green">
            <div class="step-circle">3</div>
            <div class="card-body text-center">
              <h3 class="card-title mb-4">Apply for the Job</h3>
              <p class="card-text">Apply to your desired job positions with just a few clicks and start your career
                journey.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






















