<div class="container mt-5">
    <h2 class="mx-2">My posted job offers</h2>
    <div class="application-parent mt-3">
        <div class="row d-flex mb-4">
            <div class="col-3 fw-bold">Job</div>
            <div class="col-4 fw-bold">Company</div>
            <div class="col-4 fw-bold">Date</div>
            <div class="col sort-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filter"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>

            </div>

        </div>

        @for(job of postedJobOffers; track job){
        <div class="row application">
            <div class="col-3">{{job.jobTitle}}</div>
            <div class="col-4">{{job.companyName}}</div>
            <div class="col">{{job.timestamp}}</div>
            <div class="col update-delete-app-btn">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger delete-app-btn" (click)="deleteOffer(job.offerId)">Delete</button>
            </div>
        </div>
        <hr>
        }
        



    </div>




</div>